/**************************** 
 *	Header                  *
 ****************************/

.navbar-brand {
    float: left;
    height: 33px;
    padding: 0px 15px;
    font-size: 26px;
    line-height: 20px;
    font-family: Trebuchet MS, snas-serif;
    font-weight: bold;
    color: #efefef;
    line-height: normal;
    text-decoration: none;
    text-transform: uppercase;
    margin-top: 0px;
    -webkit-animation: flashing-text 2.0s infinite forwards;
    -moz-animation: flashing-text 2.0s infinite forwards;
    -webkit-transition: 0.3s;
}

@-webkit-keyframes flashing-text {
    18% {
        padding: 0px 15px;
    }
    19.5% {
        padding: 0px 16px;
    }
    20% {
        padding: 0px 15px;
    }
    20.5% {
        padding: -13px 15px;
    }
    22% {
        padding: 0px 15px;
    }
    26% {
        opacity: 1;
    }
    27% {
        opacity: 0;
    }
    28% {
        opacity: 1;
    }
    79.5% {
        padding: 0px 15px;
    }
    80% {
        padding: 0px 14px;
    }
    80.5% {
        padding: 1px 15px;
        opacity: 1;
    }
    81% {
        padding: 0px 15px;
        opacity: 0;
    }
    82% {
        opacity: 1;
    }
}

@-moz-keyframes flashing-text {
    18% {
        padding: 0px 15px;
    }
    19.5% {
        padding: 0px 16px;
    }
    20% {
        padding: 0px 15px;
    }
    20.5% {
        padding: -13px 15px;
    }
    22% {
        padding: 0px 15px;
    }
    26% {
        opacity: 1;
    }
    27% {
        opacity: 0;
    }
    28% {
        opacity: 1;
    }
    79.5% {
        padding: 0px 15px;
    }
    80% {
        padding: 0px 14px;
    }
    80.5% {
        padding: 1px 15px;
        opacity: 1;
    }
    81% {
        padding: 0px 15px;
        opacity: 0;
    }
    82% {
        opacity: 1;
    }
}

.navbar-default {
    background-color: #821470;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #efefef;
}

.navbar-default .navbar-toggle {
    border-color: #efefef;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: rgba(107, 64, 224, 0.9);
}

.navbar-default .navbar-brand a {
    font-family: Trebuchet MS, snas-serif;
    font-weight: bold;
    color: #efefef;
    line-height: normal;
    text-decoration: none;
    text-transform: uppercase;
    opacity: 1;
    -webkit-animation: shine-text 3.8s infinite forwards;
}

@-webkit-keyframes shine-text {
    19% {
        color: #efefef;
    }
    19.5% {
        color: rgba(167, 1, 1, 0.849);
    }
    20% {
        color: #efefef;
    }
    29% {
        color: #efefef;
    }
    29.5% {
        color: rgb(0, 0, 163);
    }
    30% {
        color: #efefef;
    }
    79% {
        color: #efefef;
    }
    79.5% {
        color: rgb(0, 104, 29);
    }
    80% {
        color: #efefef;
    }
    99% {
        color: #efefef;
    }
    99.5% {
        color: rgb(159, 161, 0);
    }
    99.9% {
        color: #efefef;
    }
}

@-moz-keyframes shine-text {
    19% {
        color: #efefef;
    }
    19.5% {
        color: rgba(167, 1, 1, 0.849);
    }
    20% {
        color: #efefef;
    }
    29% {
        color: #efefef;
    }
    29.5% {
        color: rgb(0, 0, 163);
    }
    30% {
        color: #efefef;
    }
    79% {
        color: #efefef;
    }
    79.5% {
        color: rgb(0, 104, 29);
    }
    80% {
        color: #efefef;
    }
    99% {
        color: #efefef;
    }
    99.5% {
        color: rgb(159, 161, 0);
    }
    99.9% {
        color: #efefef;
    }
}

.navbar-default>li>a {
    color: #fff;
    background-color: transparent;
}

.navbar-default>li>a:hover,
.navbar-default>li>a:focus {
    color: #efefef;
}

.navbar-default a,
.navbar-default a:hover,
.navbar-default a:focus {
    color: #efefef;
}

.btn-circle-scroll .btn-circle:hover i.animated {
    -webkit-animation-name: pulse;
    -webkit-animation-duration: 1.5s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: pulse;
    -moz-animation-duration: 1.5s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
}


/****************************
 * Footer					*
 ****************************/

footer {
    text-align: center;
    padding: 20px 0;
    background-color: rgba(82, 14, 70, 0.9);
}

.btn-circle-scroll {
    margin-bottom: 30px !important;
}

.btn-circle {
    width: 70px;
    height: 70px;
    margin-top: 15px;
    padding: 5px 16px;
    border: 2px solid #821470;
    border-radius: 25%;
    font-size: 40px;
    color: #fff;
    background: 0 0;
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
    -webkit-box-shadow: -1px 1px 1px rgba(255, 253, 223, 0.4);
    box-shadow: -1px 1px 1px rgba(255, 253, 223, 0.4);
}

.btn-circle:hover,
.btn-circle:focus {
    outline: 0;
    color: #fff;
    background: rgba(255, 255, 255, 0.1);
}

.btn-circle-scroll .btn-circle i.animated {
    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 1s;
    -moz-transition-property: -moz-transform;
    -moz-transition-duration: 1s;
}

.btn-circle-scroll .btn-circle:hover i.animated {
    -webkit-animation-name: pulse;
    -webkit-animation-duration: 1.5s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: pulse;
    -moz-animation-duration: 1.5s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
}

footer img {
    max-width: 200px;
}


/****************************
 * Animation    			*
 ****************************/

.fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
    animation-duration: 1s;
}


/****************************
 * Whole Page    			*
 ****************************/

body,
html {
    background: #FFF9FF;
    width: 100%;
    color: #212529;
    /* margin-top: 39px; */
}

.progress {
    margin-bottom: 0px;
}

html {
    background: rgba(82, 14, 70, 0.9);
}


/****************************
 * Font    			*
 ****************************/

address {
    margin-bottom: 20px;
    font-style: normal;
    line-height: 2;
    color: #FFE0FF;
    font-family: Trebuchet MS, snas-serif;
    font-size: 0.9rem;
}

address a {
    color: #337ab7;
    text-decoration: none;
}

address a:hover,
a:focus {
    color: #23527c;
    text-decoration: underline;
}


/****************************
 * Sections     			*
 ****************************/

section {
    padding: 10px;
}

.contactus {
    background: #f9f9f9;
}

.row-padded {
    padding: 25px;
}

section h2 {
    font-family: Trebuchet MS, snas-serif;
    line-height: 1.1;
    color: #4D3B3B;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 40px;
    margin-bottom: 20px;
    border-bottom-style: groove;
}

section h4 {
    font-family: Candara, sans-serif;
    font-size: 22px;
    font-weight: bold;
    color: #5C5757;
    text-transform: uppercase;
}

.col-sm-7,
.col-sm-8,
.col-sm-12 {
    padding: 0px;
    margin: 0px;
}

.col-md-4 {
    padding-bottom: 50px;
}

section p {
    font-size: 15px;
    padding: 0px 20px 0px 0px;
    color: #777;
    line-height: 1.8em;
    margin: 1em 0 0 0;
}

.company-social a:hover {
    -webkit-animation: fadeIn 0.5s ease-in-out;
    animation: fadeIn 0.5s ease-in-out;
}


/* Hide for mobile, show later */

.sidebar {
    display: none;
}

@media (min-width: 768px) {
    .sidebar {
        position: fixed;
        top: 51px;
        bottom: 0;
        left: 0;
        z-index: 1000;
        display: block;
        padding: 20px;
        overflow-x: hidden;
        overflow-y: auto;
        /* Scrollable contents if viewport is shorter than content. */
        background-color: #f5d5f5;
        border-right: 1px solid #eee;
    }
}

@media (max-width: 575.98px) {
    .card-footer,
    .card-text,
    .form-control {
        font-size: 0.8rem;
    }
    .card-title,
    h5 {
        font-size: 1.13rem;
    }
    .col-form-label {
        font-size: 0.9rem;
    }
}

.firstSection {
    margin-top: 20px;
}

.table {
    width: 100%;
    margin-bottom: 1rem;
    color: #212529;
}