<!--
 * @Descripttion: 
 * @Author: BerryBC
 * @Date: 2020-02-07 13:06:12
 * @LastEditors  : BerryBC
 * @LastEditTime : 2020-02-07 14:59:33
 -->
{%extends "base.html" %} {% block mainbody %}
<div class="container">
    <section class="firstSection">
        <h2>Count of data number</h2>
        <div class="row m-auto justify-content-center">
            <textarea id="taContent" rows="20"></textarea>

        </div>
        <hr class="mb-4">
        <button class="btn btn-primary btn-lg btn-block" id='btnLoadLog'>Get Update Data</button>
    </section>
</div>


<script src="/static/data/js/logdatacount.js?q=202002071459" type="text/javascript"></script>
<link href="/static/data/css/data.css" rel="stylesheet" type="text/css" /> {% endblock %}