<!--
 * @Descripttion: 
 * @Author: BerryBC
 * @Date: 2020-02-23 09:53:10
 * @LastEditors: BerryBC
 * @LastEditTime: 2020-04-29 23:50:17
 -->
{%extends "base.html" %} {% block mainbody %}
<div class="container">
    <section class="firstSection">
        <h2>Creat Sklearn Model</h2>
        <div class="row m-auto justify-content-center">
            <textarea id="taContent" rows="20"></textarea>
        </div>
        <hr class="mb-4">
        <button class="btn btn-primary btn-lg btn-block" id='btnCreat'>Creat</button>
    </section>
</div>


<script src="/static/data/js/sklearnmodelc.js?q=202002250115" type="text/javascript"></script>
<link href="/static/data/css/data.css" rel="stylesheet" type="text/css" /> {% endblock %}