<!--
 * @Descripttion: 主页
 * @version: 0.1.0
 * @Author: BerryBC
 * @Date: 2019-11-18 15:20:06
 * @LastEditors: BerryBC
 * @LastEditTime: 2020-02-18 18:55:08
 -->
{%extends "base.html" %} {% block mainbody %}

<section class="mb-3 mt-5 firstSection">
    <div class="container">
        <div class="row">
            <div class="wow bounceInLeft col-12" data-wow-delay="0.1s">
                <h2 style="border-bottom-style: groove;">Present data</h2>
            </div>
            <div class="col-12 row">
                <div class="col-12 col-md-4">
                    <h4>Data scale
                    </h4>
                    <p>数据规模</p>
                    <p><a class="btn btn-outline-secondary" href="/data/getdatacountpage/" role="button">Karma Gain »</a></p>
                </div>
                <div class="col-12 col-md-4">
                    <h4>What can it spy
                    </h4>
                    <p>查看能爬到什么</p>
                    <p><a class="btn btn-outline-secondary" href="/data/spydata/" role="button">Karma Gain »</a></p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="wow bounceInLeft col-12" data-wow-delay="0.1s">
                <h2 style="border-bottom-style: groove;">Samples Management Page</h2>
            </div>
            <div class="col-12 row">
                <div class="col-12 col-md-4">
                    <h4>Confirm the emotion of samples
                    </h4>
                    <p>确认样本页面内容表达的情绪</p>
                    <p><a class="btn btn-outline-secondary" href="/data/emorecog/" role="button">Karma Gain »</a></p>
                </div>
                <div class="col-12 col-md-4">
                    <h4>Insert new sample
                    </h4>
                    <p>插入新的页面内容及情绪判断</p>
                    <p><a class="btn btn-outline-secondary" href="/data/insertsample/" role="button">Karma Gain »</a></p>
                </div>
                <div class="col-12 col-md-4">
                    <h4>Delete samples based on keywords
                    </h4>
                    <p>根据关键词删除样本</p>
                    <p><a class="btn btn-outline-secondary" href="/data/deletesamplepage/" role="button">Karma Gain »</a></p>
                </div>
                <div class="col-12 col-md-4">
                    <h4>Reuse page management
                    </h4>
                    <p>可重用页面管理</p>
                    <p><a class="btn btn-outline-secondary" href="/data/reuselinkmgt/" role="button">Karma Gain »</a></p>
                </div>
                <div class="col-12 col-md-4">
                    <h4>Custom info. management
                    </h4>
                    <p>客制化信息管理</p>
                    <p><a class="btn btn-outline-secondary" href="/data/custommgt/" role="button">Karma Gain »</a></p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="wow bounceInLeft col-12" data-wow-delay="0.1s">
                <h2 style="border-bottom-style: groove;">User Management page</h2>
            </div>
            <div class="col-12 row">
                <div class="col-12 col-md-4">
                    <h4>User anagement
                    </h4>
                    <p>操作用户管理页面。</p>
                    <p><a class="btn btn-outline-secondary" href="/user/manageuser/" role="button">Karma Gain »</a></p>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}